.main{
	text-align: left;	
}
div h1{
	text-align: center;
}
.wrapper{
	list-style-type: none;
}
.wrapper li {
	margin-bottom: 7px;
}
.wrapper li a{
	text-decoration: none;
	font-size: 20px;
}
.main a{
	font-size: 20px;
	text-decoration: none;
}
.more {
	text-align: center;
}
.home{
	font-size: 20px;
	text-decoration: none;
}
.plane_wrapper img{
	display: flex;
	margin: 0 auto;
}
.description{
	text-align: center;
}
